<h1 id="content-title"></h1>
<div class="cards" id="cards">
    <a href="" class="card add" role="button" id="add">
        <div class="card-body">+</div>
    </a>
</div>
<div class="modal fade" id="delete-popup" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="delete-popup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="delete-popup-text">Вы действительно хотите удалить категорию?<span></span>
                    Связанные доходы будут удалены навсегда.
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-success" id="confirm-delete">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>