<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="Logo">
        <img src="/images/logo.svg" alt="Лого Lumincoin Finance">
    </div>
    <h1 class="text-center mb-3">Создайте аккаунт</h1>
    <form id="login-form" novalidate>
        <div class="input-group flex-nowrap">
            <span class="input-group-text bg-body-secondary p-0 d-flex justify-content-center align-items-center"><i class="fa-regular fa-user"></i></i></span>
            <input type="text" class="form-control" placeholder="ФИО" id="name" required>
        </div>
        <div class="input-error text-danger" id="name-error">Заполните ваши фамилию, имя и отчество!</div>

        <div class="input-group flex-nowrap mt-2">
            <span class="input-group-text bg-body-secondary p-0 d-flex justify-content-center align-items-center"><i class="fa-regular fa-envelope-open"></i></span>
            <input type="email" class="form-control" placeholder="Электронная почта" id="email" required>
        </div>
        <div class="input-error text-danger" id="email-error">Укажите корректный адрес электронной почты!</div>

        <div class="input-group flex-nowrap mt-2">
            <span class="input-group-text bg-body-secondary p-0 d-flex justify-content-center align-items-center"><i class="fa-solid fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Пароль" id="password" required>
        </div>
        <div class="input-error text-danger" id="password-error"></div>

        <div class="input-group flex-nowrap mt-2">
            <span class="input-group-text bg-body-secondary p-0 d-flex justify-content-center align-items-center"><i class="fa-solid fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Подтверждение пароля" id="repeat-password" required>
        </div>
        <div class="input-error text-danger" id="repeat-password-error"></div>

        <button type="button" class="btn btn-primary w-100 mt-3" id="signup-button">Зарегистрироваться</button>
        <div class="login-block mt-2">Уже есть аккаунт? <a href="/login">Войдите в систему</a></div>
    </form>
</div>